@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font import */
@font-face {
  font-family: 'Neuemontreal';
  src: url('https://uploads-ssl.webflow.com/64daf5c0c154912f54a34b6e/64daf5c0c154912f54a34bb4_PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neuemontreal';
  src: url('https://uploads-ssl.webflow.com/64daf5c0c154912f54a34b6e/64daf5c0c154912f54a34bb7_PPNeueMontreal-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

html, body {
  background-color: #bfdbfe; /* Tailwind's bg-blue-200 */
  color: #0f0f0f;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #bfdbfe !important;
    color: #0f0f0f !important;
  }
}

